/* accent color #2196F3 */
/* headers color #212121 */
/* main font color #757575 */
/* poster background color #2F303A */
/* our team background color #F5F4FA*/
/* main background color #ffffff; */

/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */


/* --------------------presets------------------ */
:root {
    --accent-color: #2196F3;
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --main-white-color: #ffffff;
    /* --main-white-color: #aaaaaa; */
    --ourteam-background-color: #F5F4FA;
    --footer-bg-color: #2F303A;
}



body {
    color: var(--primary-text-color);
    background-color: var(--main-white-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

button {
    font-family: inherit;
}


/* setting headers font color*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}


/* -------------general classes------------------ */
/* common container */
.container {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 1200px;
    text-align: center;
}

/* common list */

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* common section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.img {
    display: block;
}

/* determin accent color */

/* .accent {
    color: var(--accent-color);
} */

/* ----------------Visually Hidden block--------------------------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* --------------header settings------------- */

header {
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}


header a {
    text-decoration: none;

}

.link {
    color: var(--title-text-color);
}

.accent {
    color: var(--accent-color);
}


.container.header {
    display: flex;
    align-items: center;
}

.header-contacts {
    margin-left: auto;
}

.header-contacts .link {
    color: var(--primary-text-color);
}

.link {
    display: block;
}


.header-contacts .link:hover,
.navigation .link:hover,
.header-contacts .link:focus,
.navigation .link:focus {
    color: var(--accent-color);
}

.navigation,
.header-contacts {
    display: flex;
}

/* setting space between items*/
.header .item+.item {
    margin-left: 50px;
}


.logo {
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: #000000;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo.footer-logo {
    color: var(--main-white-color);
}


/* ----------------------------main settings------------- */
/* ------------------------hero settings------------ */
.hero {
    background-color: var(--footer-bg-color);
    text-align: center;
    letter-spacing: 0.06em;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero .slogan {
    color: var(--main-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    margin-bottom: 30px;
}


.hero-btn {
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.88;
    font-weight: 600;
    background-color: var(--accent-color);
    color: var(--main-white-color);
    border: 1px solid var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}

/* -----------------advantages----------- */

.advantages {
    font-size: 14px;
    font-weight: 400;
}

.advantages.section {
    padding-bottom: 0;
}

.advantages h3 {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 600;
    margin-bottom: 10px;
}

.advantages p {
    line-height: 1.71;
}

.advantages .list {
    display: flex;
    text-align: left;
}

.advantages .item {
    width: 270px;
}

.advantages .item+.item {
    margin-left: 30px;
}



/* ------------------our-work--------------*/
.our-work h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.our-work .list {
    display: flex;
}

.our-work .item+.item {
    margin-left: 30px;
}

/*--------------------- our-team --------------*/

.our-team {
    background-color: var(--ourteam-background-color);
}

.our-team .list {
    display: flex;
}

.our-team .item+.item {
    margin-left: 30px;
}

.our-team .fio {
    padding-bottom: 30px;
    padding-top: 30px;
}

.our-team h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.our-team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 10px;
}

.our-team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
}

.our-team .item {
    background-color: var(--main-white-color);
}

/* ----------------footer---------------- */

footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.container.footer {
    text-align: left;

}

.logo.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.address {
    font-style: inherit;
    width: 231px;
}

.address p {
    color: var(--main-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.address a {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 9px;
}


/*---------------------------------------------- */
/*---------------- portfolio page ---------------*/
/*---------------------------------------------- */

/* ------------------filter BUTTONS---------- */
.filter.list {
    margin-bottom: 50px;
}

.btn-filter {
    background-color: var(--ourteam-background-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    font-style: inherit;
    text-align: center;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: 1px solid var(--ourteam-background-color);
}

.btn-filter:hover,
.btn-filter:focus {
    color: var(--main-white-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.job-examples.section {
    border-top: 1px solid #ECECEC;
}

.job-examples .filter {
    display: flex;
    justify-content: center;
}

.filter .item+.item {
    margin-left: 8px;
}

/* ------------------work gallery---------------- */

.job-examples a {
    text-decoration: none;
}

.job-examples p {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.job-examples h2 {
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
}

.job-examples .shortdescription {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}

.job-examples .gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.gallery .item:nth-child(3n) {
    margin-right: 0;
}

.gallery .item:nth-last-child(-n +3) {
    margin-bottom: 0;
}